#mySidebar {
  width: 20rem;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  overflow-y: auto;
  z-index: 1000;
}

body {
  margin-right: 20rem !important;
}

@media (max-width: 1400px) {

  #mySidebar {
      width: 0rem;
  }

  body {
    margin-right: 0rem !important;
  }
}